#myCarousel {
    background-color: red;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}
body {
    text-align: center;
}
img{
text-align: center;
}
.container {
    text-align: center;
}

#myCarousel {
    background-color: red;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner  {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}
